*{
    margin: 0 auto;
    width: 500px;
    /* box-sizing: border-box;  */
}

h2{
    text-align: center; 
    margin-bottom: 20px;
}

.registration-form{
align-content: center;
}
input{
   width: 300px;
 padding: 5px;
 margin-bottom: 5px;
border: 2px solid pink;
}
button{
 width: 150px;
margin-top: 15px;
background-color: rgb(255, 224, 224);
padding: 5px;
border: 2px solid pink;
border-radius: 10px;

}
form{ 
    display: flex;
    flex-direction: column;
   
} 